<link rel="import" href="../bower_components/polymer-siren-mixins/siren-entity-mixin.html">

<dom-module id="d2l-sequence-content-file-download">
    <template>
        Download your file...
        <template is="dom-if" if="[[_fileLocation]]">
            <form method="get" action$="[[_fileLocation]]">
                <button type="submit">Download</button>
            </form>
        </template>
    </template>

    <script>
		/*
			@mixes SirenEntityMixin
        */
        class D2LSequenceContentFileDownload extends D2L.Polymer.Mixins.SirenEntityMixin(Polymer.Element) {
            static get is() {
                return 'd2l-sequence-content-file-download';
            }
            static get properties() {
                return {
                    _fileLocation: {
                        type: String,
                        computed: '_getFileLocation(entity)'
                    }
                }
            }
            _getFileLocation(entity) {
                try {
                    const fileActivity = this._getSubEntityByClass(entity, "file-activity");
                    const file = this._getSubEntityByClass(fileActivity, "file");
                    const link = this._getLinkByClass(file, "download");
                    return link.href;
                } catch(e) {
                    return '';
                }
            }
        }
        customElements.define(D2LSequenceContentFileDownload.is, D2LSequenceContentFileDownload);
    </script>
</dom-module>
