<link rel="import" href="../bower_components/polymer-siren-mixins/siren-entity-mixin.html">

<dom-module id="d2l-sequence-content-unknown">
    <template>
        <style>
        </style>
        This content item cannot be rendered.
    </template>
    <script>
		/*
			@mixes SirenEntityMixin
        */
        class D2LSequenceContentUnknown extends D2L.Polymer.Mixins.SirenEntityMixin(Polymer.Element) {
            static get is() {
                return 'd2l-sequence-content-unknown';
            }
        }
        customElements.define(D2LSequenceContentUnknown.is, D2LSequenceContentUnknown);
    </script>
</dom-module>
