<link rel="import" href="../bower_components/polymer/polymer-element.html">
<link rel="import" href="../bower_components/polymer-siren-mixins/siren-entity-mixin.html">
<link rel="import" href="../bower_components/d2l-localize-behavior/d2l-localize-behavior.html">

<dom-module id="d2l-sequence-content-file-download">
	<template>
		<style>
			:host {
				display: block;
				font-family: 'Lato', sans-serif;
				color: var(--d2l-color-ferrite);

				/* Body Text - Lato Regular 19 */
				font-size: 19px;
				line-height: 24px;
				font-weight: 400; /* normal */
				letter-spacing: 0.2px;
			}

			.container {
				padding-top: 100px;
				text-align: center;
			}

			.heading3 {
				/* Heading 3 - Lato Bold 20 */
				font-size: 20px;
				line-height: 30px;
				font-weight: 700; /* bold */
				letter-spacing: 0.2px;
			}

			.title {
				color: var(--d2l-color-celestine-plus-1);
				margin-bottom: 10px;
			}

			.file-icon {
				background-image: url('../images/file-icon.svg');
				width: 163px;
				height: 125px;
				margin: 50px auto;
			}

			.download-button {
				background-color: var(--d2l-color-celestine);
				border: 1px solid var(--d2l-color-celestine-minus-1);
				color: white;
				border-radius: 8px;
				width: 257px;
				height: 52px;
				margin-top: 50px;
			}
		</style>
		<div class="container">
			<div class="title heading3">
				[[localize('invalidFile')]]
			</div>
			<div>
				[[localize('downloadInvalidFile')]]
			</div>
			<div class="file-icon"></div>
			<div>
				[[localize('fileSize','size','[unknown]')]]
			</div>
			<template is="dom-if" if="[[_fileLocation]]">
				<form method="get" action$="[[_fileLocation]]">
					<button type="submit" class="download-button heading3">
						[[localize('download')]]
					</button>
				</form>
			</template>
		</div>
	</template>

	<script>
		/*
			@mixes SirenEntityMixin
		*/
		class D2LSequenceContentFileDownload extends Polymer.mixinBehaviors(D2L.PolymerBehaviors.LocalizeBehavior, D2L.Polymer.Mixins.SirenEntityMixin(Polymer.Element)) {
			static get is() {
				return 'd2l-sequence-content-file-download';
			}
			static get properties() {
				return {
					_fileLocation: {
						type: String,
						computed: '_getFileLocation(entity)'
					}
				}
			}
			connectedCallback() {
				super.connectedCallback();
				this.loadResources(this.resolveUrl('../locales.json'));
			}
			_getFileLocation(entity) {
				try {
					const fileActivity = this._getSubEntityByClass(entity, "file-activity");
					const file = this._getSubEntityByClass(fileActivity, "file");
					const link = this._getLinkByClass(file, "download");
					return link.href;
				} catch(e) {
					return '';
				}
			}
		}
		customElements.define(D2LSequenceContentFileDownload.is, D2LSequenceContentFileDownload);
    </script>
</dom-module>
