<link rel="import" href="../bower_components/polymer-siren-mixins/siren-entity-mixin.html">
<link rel="import" href="sequence-content-file-router.html">
<link rel="import" href="sequence-content-link.html">
<link rel="import" href="sequence-content-unknown.html">
<link rel="import" href="../mixins/RouterMixin.html">

<dom-module id="d2l-sequence-content-router">
	<template></template>
	<script>
		/*
					@mixes SirenEntityMixin
		        */
		class D2LSequenceContentRouter extends D2L.Polymer.Mixins.SirenEntityMixin(D2L.Polymer.Mixins.RouterMixin(Polymer.Element, getEntityType)) {
			static get is() {
				return 'd2l-sequence-content-router';
			}
			static get map() {
				return new Map([
					[D2LSequenceContentFileRouter.contentClass, D2LSequenceContentFileRouter.is],
					[D2LSequenceContentLink.contentClass, D2LSequenceContentLink.is],
				]);
			}
		}
		customElements.define(D2LSequenceContentRouter.is, D2LSequenceContentRouter);

		function getEntityType(entity) {
			for (let i = 0; i < entity.entities.length; i++) {
				// hypermedia classes tend to be more specific at the end of the array
				for (let j = entity.entities[i].class.length - 1; j >= 0; --j) {
					const mappedType = D2LSequenceContentRouter.map.get(entity.entities[i].class[j]);
					if (mappedType) {
						return mappedType;
					}
				}
			}
			return D2LSequenceContentUnknown.is;
		}

	</script>
</dom-module>
