<link rel="import" href="../../polymer-siren-mixins/siren-entity-mixin.html">

<dom-module id="d2l-sequence-content-file">
    <template>
        <style>
            iframe {
                height: 200vh; /* TODO: add iframe resize handler */
                width: calc(100vw - 21px);
                overflow: hidden;
            }
        </style>
        <iframe scrolling="no" src$="[[_fileLocation]]"></iframe>
    </template>
    <script>
		/*
			@mixes SirenEntityMixin
        */
        class D2LSequenceContentFile extends D2L.Polymer.Mixins.SirenEntityMixin(Polymer.Element) {
            static get is() {
                return 'd2l-sequence-content-file';
            }
            static get contentClass() {
                return 'file-activity';
            }
            static get observers() {
                return ['_setFileLocation(entity)']
            }
            static get properties() {
                return {
                    _debouncer: {
                        type: Object
                    },
                    _fileLocation: {
                        type: String
                    }
                }
            }
            _setFileLocation(entity) {
                this._debouncer = Polymer.Debouncer.debounce(
                    this._debouncer,
                    Polymer.Async.timeOut.after(20),
                    () => {
                        const fileActivity = this._getSubEntityByClass(entity, "file-activity");
                        if (!fileActivity) {
                            return '';
                        }

                        const file = this._getSubEntityByClass(fileActivity, "file");
                        if (!file) {
                            return '';
                        }

                        // TODO: use download link for non text/html content?
                        const link = this._getLinkByRel(file, "alternate");
                        const href = link ? link.href : '';

                        this._fileLocation = href;
                    }
                );
            }
        }
        customElements.define(D2LSequenceContentFile.is, D2LSequenceContentFile);
    </script>
</dom-module>