<link rel="import" href="../bower_components/polymer/polymer.html">
<link rel="import" href="../bower_components/d2l-polymer-siren-behaviors/store/entity-behavior.html">
<link rel="import" href="../bower_components/d2l-colors/d2l-colors.html">
<link rel="import" href="../bower_components/d2l-icons/d2l-icons.html">
<link rel="import" href="../bower_components/d2l-icons/tier2-icons.html">
<link rel="import" href="../bower_components/d2l-icons/tier3-icons.html">
<link rel="import" href="../bower_components/d2l-sequences/components/d2l-sequences-topic-name.html">
<link rel="import" href="../bower_components/d2l-sequences/components/d2l-sequences-module-name.html">
<link rel="import" href="../bower_components/d2l-sequences/components/d2l-sequences-iterator.html">
<link rel="import" href="../bower_components/iron-a11y-announcer/iron-a11y-announcer.html">

<dom-module id="d2l-sequence-viewer-header">
	<template>
		<style>
			:host {
				display: flex;
				flex-flow: row wrap;
				align-items: center;
				width: 100%;
				border-bottom: 1px solid var(--d2l-color-gypsum);
				border-top: 4px solid var(--d2l-color-celestine);
				padding-top: 10px;
				padding-bottom: 10px;
				background-color: white;
			}
			.iterator-icon {
				width: 30px;
				height: 30px;
				font-size: 0px;
				display: block;
			}
			.flyout-divider {
				color: var(--d2l-color-corundum);
				height: 23px;
				width: 23px;
				font-size: 0px;
				display: block;
			}
			.back-to-module {
				@apply --d2l-body-small-text;
				overflow: hidden;
				white-space: nowrap;
				text-overflow: ellipsis;
			}
			.topic-name {
				@apply --d2l-body-compact-text;
				text-align: center;
				overflow: hidden;
				white-space: nowrap;
				text-overflow: ellipsis;
			}
			.pad-side {
				flex: 1 1 0px;
			}
			.pad-mid {
				flex: 0 0 1230px;
				display: flex;
				align-items: center;
			}
			.col1 {
				flex: 0 0 40px;
			}
			.col2 {
				flex: 0 0 30px;
			}
			.col3 {
				flex: 0 0 20px;
			}
			.col4 {
				flex: 0 0 23px;
			}
			.col5 {
				flex: 0 0 20px;
			}
			.col6 {
				flex: 0 0 23px;
			}
			.col7 {
				flex: 1 1 100px;
			}
			.col8 {
				flex: 2 2 200px;
			}
			.col9 {
				flex: 1 1 100px;
			}
			.col10 {
				flex: 0 0 30px;
			}
			.col11 {
				flex: 0 0 20px;
			}
			.col12 {
				flex: 0 0 23px;
			}
			.col13 {
				flex: 0 0 20px;
			}
			.col14 {
				flex: 0 0 30px;
			}
			.col15 {
				flex: 0 0 30px;
			}
			@media(max-width: 1230px) {
				.pad-side {
					flex: 0 0 0px;
				}
				.pad-mid {
					flex: 1 1 300px;
					display: flex;
					align-items: center;
				}
			}
			@media(max-width: 720px) {
				.hidden-small {
					visibility: hidden;
				}
				.col1 {
					flex: 0 0 25px;
				}
				.col3 {
					flex: 0 0 0px;
				}
				.col4 {
					flex: 0 0 0px;
				}
				.col5 {
					flex: 0 0 22px;
				}
				.col6 {
					flex: 0 0 0px;
				}
				.col7 {
					flex: 0 0 0px;
				}
				.col8 {
					flex: 1 1 50px;
				}
				.col9 {
					flex: 0 0 22px;
				}
				.col11 {
					flex: 0 0 0px;
				}
				.col13 {
					flex: 0 0 0px;
				}
				.col15 {
					flex: 0 0 15px;
				}
			}
		</style>
			<div class="pad-side"></div>
			<div class="pad-mid">
				<div class="col1"></div>
				<slot name="d2l-flyout-menu" d2l-flyout-menu class="col2"></slot>
				<div class="col3"></div>
				<d2l-icon class="flyout-divider hidden-small col4" icon="d2l-tier2:divider-big"></d2l-icon>
				<div class="col5"></div>
				<div class="hidden-small col6">
					<slot name="back-button">
					</slot>
				</div>
				<div class="back-to-module hidden-small col7">
					<slot name="d2l-back-to-module"></slot>
				</div>
				<d2l-sequences-topic-name
					id="topicName"
					class="topic-name col8"
					href="[[href]]"
					token="[[token]]"
					tabindex="1"
					role="heading"
				></d2l-sequences-topic-name>
				<div class="col9"></div>
				<d2l-sequences-iterator
					class="iterator-icon prev-button col10"
					href="{{href}}"
					token="[[token]]"
					icon="d2l-tier3:chevron-left-circle"
					previous
				></d2l-sequences-iterator>
				<div class="col11"></div>
				<d2l-icon class="flyout-divider col12" icon="d2l-tier2:divider-big"></d2l-icon>
				<div class="col13"></div>
				<d2l-sequences-iterator
					class="iterator-icon next-button col14"
					href="{{href}}"
					token="[[token]]"
					icon="d2l-tier3:chevron-right-circle"
					next
				></d2l-sequences-iterator>
				<div class="col15"></div>
			</div>
			<div class="pad-side"></div>
		</template>

	<script>
		/**
		 * @extends {Polymer.Element}
		 * @appliesMixin D2L.PolymerBehaviors.Siren.EntityBehavior
		*/
		class D2LSequenceViewerHeader extends Polymer.mixinBehaviors([
			D2L.PolymerBehaviors.Siren.EntityBehavior,
			],
			Polymer.Element
		) {
			static get is() {
				return 'd2l-sequence-viewer-header';
			}
			static get properties() {
				return {
					href: {
						type: String,
						reflectToAttribute: true,
						notify: true
					}
				};
			}
			static get observers() {
				return ['_announceTopic(entity)']
			}
			connectedCallback() {
				super.connectedCallback();
				Polymer.IronA11yAnnouncer.requestAvailability();
				this.mode = 'polite';
			}
			_announceTopic() {
				this.fire('iron-announce', {
					text: this.$.topicName.innerText.trim()
				});
			}
		}
		customElements.define(D2LSequenceViewerHeader.is, D2LSequenceViewerHeader);
	</script>
</dom-module>
