<link rel="import" href="../bower_components/polymer-siren-mixins/siren-entity-mixin.html">
<link rel="import" href="sequence-content-file-html.html">
<link rel="import" href="sequence-content-file-download.html">
<link rel="import" href="../mixins/RouterMixin.html">

<dom-module id="d2l-sequence-content-file-router">
	<template></template>
	<script>
		/*
            @mixes SirenEntityMixin
        */
		class D2LSequenceContentFileRouter extends D2L.Polymer.Mixins.SirenEntityMixin(D2L.Polymer.Mixins.RouterMixin(Polymer.Element, getElementsByMimeType)) {
            static get is() {
                return 'd2l-sequence-content-file-router';
            }

            static get map() {
                return new Map([
                    ['text/html', D2LSequenceContentFileHtml.is],
                    ['application/pdf', D2LSequenceContentFileHtml.is],
                    ['image/bmp', D2LSequenceContentFileHtml.is],
                    ['image/gif', D2LSequenceContentFileHtml.is],
                    ['image/jpeg', D2LSequenceContentFileHtml.is],
                    ['image/png', D2LSequenceContentFileHtml.is],
                    ['image/svg+xml', D2LSequenceContentFileHtml.is]
                ]);
            }

            static get contentClass() {
                return 'file-activity';
            }
        }

        customElements.define(D2LSequenceContentFileRouter.is, D2LSequenceContentFileRouter);

        function getElementsByMimeType(entity) {
            const unknownMimeType = 'd2l-sequence-content-file-download';
            try {
                const fileActivity = this._getSubEntityByClass(entity, 'file-activity');
                const file = this._getSubEntityByClass(fileActivity, 'file');

                return D2LSequenceContentFileRouter.map.get(file.properties.type) || unknownMimeType;
            } catch(e) {
                return unknownMimeType;
            }
        }
    </script>
</dom-module>
